nav{
  background-color: #c9d99e
}
body{
background-color: #f1f0cf
}
div{
  background-color: #daf1f9
}
farmer{
  margin: 0;
  padding: 0;
  background: url(xx.jpg)
  background-size: cover;
  font-family: sans-serif;
}
